* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100vh;
    width: 100%;
    background-color: #eee;
}

#content{
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.todos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
}

.todo-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
    background-color: #FFFF99;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.todo-title, .todo-description{
    margin-bottom: 10px;
}

.due-date-label, .due-time-label {
    font-weight: bold;
    color: rgb(0 108 9)
}

.navbar {
    grid-column: 1 / -1;
    background-color: #bbb;
}

.menu {
    background-color: #999;
}

.main-content-container {
    background-color: #eee;
}

.add-todo-button{
    text-align: center;
}

.new-todo-container {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    height: 300px;
    width: 300px;
    background-color: lightblue;
}

.hidden {
    display: none;
}