* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100vh;
    width: 100%;
    background-color: #eee;
}

#content{
    position: relative;
    display: grid;
    height: inherit;
    grid-template-rows: 1fr 8fr;
}

.navbar {
    background-color: #bbb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.nav-button-container {
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
}

.menu {
    background-color: #999;
}

.main-content-container {
    background-color: #eee;
}

.add-todo-button{
    text-align: center;
}

.todos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
    padding: 50px;
}

.todo-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    row-gap: 10px;
    background-color: #FFFF99;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.todo-title, .todo-description{
    margin-bottom: 10px;
}

.todo-options {
    position: absolute;
    top: 10;
    right: 10;
    font-weight: bold;
}

.todo-options span {
    font-size: 2rem;
}

.remove-todo {
    position: absolute;
    top: 5px;
    right: 40px;
    background-color: #ffffff;
    padding: 10px 8px;
    border-radius: 5px;
}

.complete-button {
    width: 135px;
    font-size: 1rem;
    margin: 0 auto;
    padding: 8px 12px;
    border: none;
    outline: none;
    background-color: #ff6161;
    border-radius: 3px;
    cursor: pointer;
}



.due-date-label, .due-time-label {
    font-weight: bold;
    color: rgb(0 108 9);
}

/* Completed todos CSS */
.todo-container.completed p, .todo-container.completed h2 {
    text-decoration: line-through;
}

.todo-container.completed {
    background-color: #969656;
}

.complete-button.completed {
    background-color: #42ef42;
}



/* Todo Modal */
.new-todo-container {
    position: absolute;
    z-index: 10;
    grid-column: 2 / -1;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    background-color: #7ec4ff;
}

.new-todo-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.new-todo-container form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}

.new-todo-container form div {
    display: flex;
    flex-direction: column;
}

.new-todo-container input {
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 3px;
    border-radius: 5px;
}

.new-todo-container textarea {
    outline: none;
    border: none;
    resize: none;
    font-size: 1.4rem;
    padding: 3px;
    border-radius: 5px;
}

.new-todo-container label {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.submit-todo-button {
    cursor: pointer;
    width: 120px;
    margin: 0px auto;
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #018d01;
    color: white;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}